.forgetPasswordContainer{

    width:100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    border: 2px solid red;;

}

.forgetPasswordBox{

    border: 2px solid rgb(80,80,80);
    background-color: white;
    width:25vw;
    box-sizing: border-box;
}

.forgetPasswordBox>h1{
    font: 500 2.3vmax 'Quantico';
    text-align: center;
    margin: 1vmax 0;
    color: rgb(31,31,31);
    
}


.forgetPasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0 2vmax;
    justify-content: space-evenly;
    height: 100%;
    transition: all 0.5s;
    border: 2px solid yellow;
}



.forgetPasswordForm>div{
    display: flex;
    border: 2px solid violet;
    width: 100%;
    align-items: center;
    margin: 2vmax 0;
}

.forgetPasswordForm > div >input{
    padding: 1vmax 3vmax 1vmax 4vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
}

.forgetPasswordForm  > div>svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0,0,0,.617);
 }
 
 
 .forgetPasswordForm  > input{
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.8vmax 'Roboto';
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.267);
    margin:1vmax 0;


 }

 
 .forgetPasswordForm > input:hover{
    background-color: rgb(224, 34, 0);
 }


 @media screen and (max-width:600px) {

    .forgetPasswordBox{

        width:50vw;
        padding:3vmax 0;

    }

    .forgetPasswordBox>h1{
        font: 500 4.3vmax 'Quantico';
       
        
    }

    
.forgetPasswordForm>div{
   
}

.forgetPasswordForm > div >input{
    
    font: 500 2.4vmax cursive;
    padding: 4.5vmax ;
}

.forgetPasswordForm  > div>svg{
    
    font-size: 3vmax;
    color: rgba(0,0,0,.617);
 }

 .forgetPasswordForm>input{
    padding: 3vmax;
    font: 500 2.5vmax 'Roboto';
}
    
 }
