.ResetPasswordForm{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 2vmax;
    
    height: 100%;
    transition: all 0.5s;
    border: 2px solid yellow;
}

.LoginSignUpBox>h1{
    font: 500 2.3vmax 'Quantico';
    color: rgba(0,0,0.411);
    text-align: center;
    margin: 1vmax 0;
}

.ResetPasswordForm>div{
    display: flex;
    border: 2px solid violet;
    width: 100%;
    align-items: center;
    margin: 1.5vmax 0;
}

.ResetPasswordForm > div >input{
    padding: 1vmax 3vmax 1vmax 4vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
}


.ResetPasswordForm > div>svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0,0,0,.617);
    cursor: pointer;
 }

 .ResetPasswordForm > div>svg:last-child{
    position: absolute;
    transform: translateX(17vmax);
    font-size: 1.6vmax;
    color: rgba(0,0,0,.617);
 }

 .ResetPasswordForm  > input{
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.8vmax 'Roboto';
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.267);
    margin-top: 2vmax;


 }
 
 .ResetPasswordForm > input:hover{
    background-color: rgb(224, 34, 0);
 }

 @media  screen and (max-width:600px) {

    .UserResetBox{
        width:100vw;
        height: 85vh;
       
        }

        .ResetPasswordForm{
            padding: 5vmax;
        }
    
        .LoginSignUpBox>h1{
            
            font: 400 5vmax 'Quantico';
        }
    
        .ResetPasswordForm > div >input{
            padding: 2.5vmax 10vmax 2.5vmax 6vmax;
            font: 300 2vmax cursive;
           }
    
           .ResetPasswordForm > div >svg{
            font-size: 4vmax;
            
        }

        .ResetPasswordForm > div >svg:last-child{
            left: 70vmax;
            font-size: 3.5vmax;
            
        }
    
        .ResetPasswordForm>input{
            padding: 4vmax;
            font: 500 2.5vmax 'Roboto';
        }
    
 }