
li{
    list-style-type: none;
}

.productsHeading{
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgba(0,0,0,.171);
    padding: 2vmax;
    color: rgba(0,0,0,.671);
    font: 500 1.5vmax "Roboto";
    text-align: center;
}

.products-container{
    display: flex;
    border:2px solid black;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
}





/* Pagination CSS */

.paginationBox{
    border:2px solid orange;
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination{
    border: 2px solid greenyellow;
    display: flex;
    justify-content: center;
    padding: 1vmax;
}

.page-item{
    background-color: white;
    border: 2px solid rgba(0,0,0,.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.5s;
    cursor: pointer;
}

.page-item:hover{
    transform: scale(1.1);
    box-shadow: 0 0 3px rgba(0, 0, 0,.5);
}

.page-item:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}

.page-item:nth-last-child(1){
    border-radius: 0px 10px 10px 0px;
}

.page-link{
    text-decoration: none;
    font: 300 0.7vmax 'Roboto';
    color: rgb(80,80,80);
    transition: all .5s;
}


.pageItemActive{
    background-color: tomato;
    
    
}

.pageItemActive:hover{
    transform: scale(1);
}

.pageLinkActive{
    color: white;
    font: 600 1vmax 'Quantico';
}


/* FilterBox CSS */

.FilterBox{
    border:2px solid black;
    display: flex;
    justify-content: center;
}

.filterBox{
 width: 80%;
 border: 2px solid orange;
 text-align: center;
 margin: 1vmax;
 padding: 1vmax;

}

.filterBox >h1{
    font: 600 2vmax 'Quantico';
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0,.278);
    border-top: 2px solid rgba(0, 0, 0,.278);
    margin-bottom: 1vmax;
}




/* CategoryFilter */
.CategoryContainer{
    border:2px dotted blue;
    display: flex;
    justify-content: center;
}

.CategoryFilter{
    width: 80%;
 border: 2px solid orange;
 text-align: center;
 margin: 1vmax;
 padding: 1vmax;

}

.CategoryFilter>ul{
    border: 2px dotted greenyellow;
    display: flex;
    justify-content: center;
}
.CategoryFilter>h1{
    font: 600 2vmax 'Quantico';
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0,.278);
    border-top: 2px solid rgba(0, 0, 0,.278);
    margin-bottom: 1vmax;
    /* border: 2px solid violet; */
    width: 15%;
    text-align: center;

}

.category-link{

    border: 2px solid rgb(160, 158, 158);
    padding: 1vmax;
    transition: all 0.5s;
    font: 300 1vmax 'Roboto';
    color: rgb(80,80,80);
    background-color: white;
    cursor: pointer;

}

.category-link:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}

.category-link:nth-last-child(1){
    border-radius: 0px 10px 10px 0px;
}


.category-link:hover{
    transform: scale(1.2);
    box-shadow: 0 0 3px rgba(0, 0, 0,.5);
}

.active-category-class{
    background-color: tomato;
}
